
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<link rel="shortcut icon" href="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/6AHAaNm2pxxbWIQJYLKbQw==/3183481986697713716.jpg_16x16x0x90.jpg" type="image/x-icon">
<meta name="msvalidate.01" content="62DB1800D6A941C22FE7B3DA0C37F8A9" />

<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900' rel='stylesheet' type='text/css'>

{% if site.mathjax == true %}
	{% include custom/mathjax.html %}
{% endif %}

